<h1>Custom Pipes</h1>
<div class="container">
    <p>
        without custom pipe and defined name: <b>{{ name }}</b>
    </p>
</div>
<hr />
<div class="container">
    <p>
        with custom pipe, <b>undefined</b> name and <b>"female"</b> parameter:
        <b>{{ undefinedName | fallbackName : "female" }}</b>
    </p>
    <p>
        with custom pipe, <b>undefined</b> name and <b>"male"</b> parameter:
        <b>{{ undefinedName | fallbackName : "male" }}</b>
    </p>
    <p>
        with custom pipe, <b>undefined</b> name and <b>no</b> parameter:
        <b>{{ undefinedName | fallbackName }}</b>
    </p>
</div>
