<h1>Custom Pipes</h1>
<div class="container">
    <p>
        without custom pipe: <b>{{ name }}</b>
    </p>
</div>
<div class="container">
    <p>
        with custom pipe and <b>"female"</b> parameter:
        <b>{{ name | fallbackName : "female" }}</b>
    </p>
    <p>
        with custom pipe and <b>"male"</b> parameter:
        <b>{{ name | fallbackName : "male" }}</b>
    </p>
    <p>
        with custom pipe and <b>no</b> parameter:
        <b>{{ name | fallbackName }}</b>
    </p>
    <p>
        with custom pipe and <b>undefined name</b> and <b>no</b> parameter:
        <b>{{ undefined | fallbackName }}</b>
    </p>
</div>
